/* CUSTOM PROPS */
:root {
  --black:#012F34;
  --background-body:#014E56;
  --light-coral:#F67E7E;
  --blue:#2C6269;
  --rapture-blue:#79C8C7;
  --dark-green:#002529;
}


/* FONTS */
@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
      url('../fonts/Livvic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Regular.woff2') format('woff2'),
      url('../fonts/Livvic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
      url('../fonts/Livvic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-body);
  color: #fff;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */

/* BUTTON */

.button {
  width: 100%;
  max-width: 153px;
  padding: 9px 32px;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.button--primary {
  border: 2px solid #fff;
}

.button--primary:hover {
  background-color: #fff;
  color: var(--dark-green);
}

.button--primary:active {
  opacity: 0.8;
}

/* .button--primary:disabled {
  opacity: 0.2;
} */

.button--secondary {
  background-color: #fff;
  color: var(--dark-green);
}

.button--secondary:hover {
  background-color: var(--rapture-blue);
}

.button--secondary:active {
  opacity: 0.8;
}

/* .button--secondary:disabled {
  opacity: 0.2;
} */

.button--light {
  border: 2px solid var(--black);
  background-color: transparent;
  color: var(--black);
}

.button--light:hover {
  background-color: var(--black);
  color: #fff;
}

.button--light:active {
  opacity: 0.8;
}

.button--light:disabled {
  opacity: 0.2;
}


/* SITE-HEADER */
.site-header {
  position: relative;
  padding-top: 73px;
  padding-bottom: 165px;
  background-image: url(/img/additional-pictures-1.svg),
  url(/img/additional-pictures-2.svg);
background-repeat: no-repeat;
background-position: -60px  250px,
    960px 600px;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  display: inline-block;
  margin-right: 80px;
}

.site-header__logo-img {
  display: block;
  width: 160px;
  height: 40px;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}

.sitenav__link:hover {
  color: var(--light-coral);
  cursor: pointer;
}


/* HERO */
.hero {
  padding-top: 130px;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__title {
  width: 635px;
  font-size: 100px;
  line-height: 100px;
  margin-top: 0;
  margin-right: 30px;
}

.hero__title--colored {
  color: var(--light-coral);
}

.hero__info {
  position: relative;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
}

.hero__info::before {
  position: absolute;
  top: -78px;
  width: 50px;
  height: 4px;
  background-color: var(--rapture-blue);
  content: "";
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* BUILD-SECTION */
.build {
  position: relative;
  padding-top: 198px;
  padding-bottom: 140px;
  background-color: var(--black);
  background-image: url(/img/additional-pictures-3.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 right -100px;
}

.build__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.build__title {
  width: 445px;
  margin-top: 0;
  margin-right: 125px;
  font-weight: 700px;
  font-size: 48px;
  line-height: 48px;
}

.build__list {
  width: 540px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.build__item {
  position: relative;
  display: flex;
  align-items: center;
}

.build__item::before {
  position: absolute;
  z-index: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--blue);
  content: "";
}

.build__item:not(:last-child) {
  margin-bottom: 32px;
}

.build__item-img {
  top: -5px;
  left: -16px;
  position: absolute;
}

.build__item-title-info-wrapper {
  margin-left: 100px;
}

.build__item-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 28px;
  color: var(--light-coral);
}

.build__item-info {
  margin: 0;
  opacity: 0.8;
}


/* COMMENTS */
.comments {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url(/img/reviews-bg-left.svg) ,
                                  url(/img/reviews-bg-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0,
                                      bottom -100px right -53px ;
}

.comments__title {
  margin: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.comments__title-colored {
  color: var(--rapture-blue);
}

.comments__list {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.comments__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__item:not(:last-child) {
  margin-right: 30px;
}

.comments__item-comment {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

.comments__item-comment::before {
  position: absolute;
  z-index: -1;
  width: 67px;
  height: 56px;
  background-image: url(/img/icon-quotes.svg);
  top: -38px;
  left: 140px;
  content:"";
}

.comments__item-name {
  margin: 0;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 28px;
  color: var(--rapture-blue);
  text-transform: capitalize;
}

.comments__item-field {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 32px;
}

.comments__item-img {
  border-radius: 50%;
}


/* STARTED */
.started {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--light-coral);
  background-image: url(/img/started-bg-left.svg);
  background-repeat: no-repeat;
  background-position: bottom -100px left 0;
}

.started__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.started__title {
  margin: 0;
  margin-right: 260px;
  font-size: 48px;
  line-height: 48px;
  color: var(--black);
}



/* SITE-FOOTER */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--dark-green);
}

.site-footer__container {
  display: flex;
}

.site-footer__logo-nav-wrapper {
  margin-right: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-footer__logo {
  display: inline-block;
}

.site-footer__logo-img {
  display: block;
}

.site-footer__sitenav {
  align-self: stretch;
}

.site-footer__location {
  margin-right: auto;
}

.site-footer__location-info {
  margin: 0;
  opacity: 0.6;
}

.site-footer__socials-footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site__footer-socials {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}


.socials__item:not(:last-child) {
  margin-right: 16px;
}

.socials__link {
  color: #fff;
}

.socials__link:hover {
  color: var(--light-coral);
}

.socials__link:active {
  opacity: 0.6;
}

.site-footer__footer-info {
  margin: 0;
  opacity: 0.6;
}
/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}