/* CUSTOM PROPS */
:root {
  --black:#012F34;
  --background-body:#014E56;
  --light-coral:#F67E7E;
  --blue:#2C6269;
  --rapture-blue:#79C8C7;
  --dark-green:#002529;
}


/* FONTS */
@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
      url('../fonts/Livvic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Regular.woff2') format('woff2'),
      url('../fonts/Livvic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
      url('../fonts/Livvic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-body);
  color: #fff;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */

/* BUTTON */

.button {
  width: 100%;
  max-width: 153px;
  padding: 9px 32px;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.button--primary {
  border: 2px solid #fff;
}

.button--primary:hover {
  background-color: #fff;
  color: var(--dark-green);
}

.button--primary:active {
  opacity: 0.8;
}

/* .button--primary:disabled {
  opacity: 0.2;
} */

.button--secondary {
  background-color: #fff;
  color: var(--dark-green);
}

.button--secondary:hover {
  background-color: var(--rapture-blue);
}

.button--secondary:active {
  opacity: 0.8;
}

/* .button--secondary:disabled {
  opacity: 0.2;
} */

.button--light {
  border: 2px solid var(--black);
  background-color: #fff;
  color: var(--black);
}

.button--light:hover {
  background-color: var(--black);
  color: #fff;
}

.button--light:active {
  opacity: 0.8;
}

.button--light:disabled {
  opacity: 0.2;
}


/* SITE-HEADER */
.site-header {
  padding-top: 73px;
  padding-bottom: 250px;
  margin-bottom: 500px;
  background-image: url(/img/additional-pictures-1.svg),
  url(/img/additional-pictures-2.svg);
background-repeat: no-repeat;
background-position: -100px  266px,
    917px 650px;
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-bottom:65px;
}

.site-header__logo {
  display: inline-block;
  margin-right: 80px;
}

.site-header__logo-img {
  display: block;
  width: 160px;
  height: 40px;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  text-decoration: none;
  color: #fff;
}

.sitenav__link:hover {
  color: var(--light-coral);
  cursor: pointer;
}


/* HERO */
.hero {
  padding-top: 65px;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__title {
  width: 635px;
  font-size: 100px;
  line-height: 100px;
  margin-top: 0;
  margin-right: 30px;
}

.hero__title--colored {
  color: var(--light-coral);
}

.hero__info {
  width: 445px;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}